
.item{
	width:175px;
	height: 215px;
	margin: 5px;
	padding: 10px;
	display:inline;
	float:left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius:4px;
    border:0px;

}

ul {
	list-style-type: none;
}




.item:hover {
	box-shadow: 0 0 16px rgba(35, 173, 278, 1);
}


/*
container will be the parent object in which all the tiles will go
.flex_container{
	flex-flow: flex-wrap;
}

*/
