<%inherit file="/homepage/templates/base.htm" />


<%block name="main_menu">

  <%
    menu_items = [
      [ 'Catalog',    'catalog',   'index'   ],
      [ 'Users',      'manager',   'users'   ],
      [ 'Products',   'manager',   'products'   ],
      [ 'Venues',     'manager',   'venues'   ],
      [ 'Events',     'manager',   'events'   ],
    ]
  %>


  %for title, app, page in menu_items:
    <li class="${ 'active' if request.dmp_router_app == app and request.dmp_router_page == page else '' }"><a href="/${ app }/${ page }/">${ title }</a></li>
  %endfor
  
  

</%block>