form th {
  vertical-align: top;
  padding-top: 9px;
}

#id_groups, #id_user_permissions {
  list-style-type: none;
}

#id_groups input,
#id_user_permissions input {
  display: inline-block;
  width: auto;
  height: auto;
}

#id_groups label,
#id_user_permissions label {
  font-weight: normal;
}